body {
  font-size: 62.5%;
}
.ui-widget {
  margin-top: 1em;
  margin-bottom: 1em;
}
.ui-widget-header {
  padding: 0.4em 1em;
}
.ui-widget-content {
  padding: 1em 1em;
}
.highlight pre {
  font-size: larger;
}
#header h1 {
  padding: 0 1em;
  white-space: nowrap;
}
#header h1 a:link,
#header h1 a:visited,
#header h1 a:hover,
#header h1 a:active {
  color: #000;
  text-decoration: none;
}
#footer {
  font-size: smallest;
}
#footer .date {
  float: right;
}
.bookmarklet .title a:link,
.bookmarklet .title a:visited,
.bookmarklet .title a:hover,
.bookmarklet .title a:active {
  text-decoration: none;
}
.bookmarklet .date {
  float: right;
  font-size: smaller;
  font-weight: lighter;
}
.bookmarklet .controls {
  float: right;
  text-align: bottom;
}
